.headerContainer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  height: 70px;
}


.solidLight {
  background: transparent;
}

.solidHeavy {
  background: var(--background);
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}


.headerSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px;
    max-width: 1300px;
    width: 100%;
}

.jobListingLogo{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.userAvatar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButtons ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

.headerButtons ul li{
    display: flex;
    align-items: center;
}

.roleSwitchBtn{
    padding: 10px 25px;
    background-color: white;
    color: var(--background);
    border-radius: 10px;
}

.signInBtn{
    border-radius: 10px;
    padding: 10px 25px;
    border: 1px solid white;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.signInBtn:hover{
    background-color: white;
    color: var(--background);
}

@media (max-width: 768px) {
  .roleSwitchBtn{
    padding: 8px 15px;
    text-wrap: nowrap;
    font-size: 14px;
  }

  .jobListingLogo{
    font-size: 12px;
  }

  .headerSection{
    padding: 10px 20px;
  }

  .headerButtons ul{
    gap: 15px;
  }
}