.container {
  width: 100%;
  padding: 70px 0px 0;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.createJobBtn{
    padding: 10px 25px;
    background-color: var(--background);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-size: 14px;
}

.table th {
  background: var(--background);
  color: white;
  padding: 10px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.link {
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}

.approveBtn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.approved {
  background: #0a9f51;
  color: white;
}

.pending {
  background: #f2c94c;
  color: black;
}

.deleteBtn {
  background: #d9534f;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
