.container{
    padding-top: 68px;
}

.headerContainer{
    background-color: #eeedff;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.jobDetailsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 20px;
}

.header{
    max-width: 1000px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.candidateDetailsSection{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.candidateDetails{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.leftSection {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RIGHT = 30% */
.rightSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.headerLeft{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.headerRight{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.contactBtn{
    color: white;
    background-color: var(--background);
    border-radius: 10px;
    border: none;
    padding: 10px 14px;
    font-size: 16px !important;
}

.saveBtn{
    color: var(--background);
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--background);
    padding: 10px 14px;
    font-size: 16px !important;
}

.headerRight p{
    font-size: 14px;
}

.headerApplyBtn{
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 60px;
    background-color: transparent;
    color: var(--background);
    border: 1px solid var(--background);
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.headerApplyBtn:hover{
    background-color: var(--background);
    color: white;
    border: 1px solid white;
}



.headerImage img{
    border-radius: 8px;
     border-radius: 50%;
    border: 3px solid var(--background);
}



.headerDetails h1{
    color: var(--background);
    margin-bottom: 10px;
}

.headerDetails .location{
    color: grey;
}

.summary, .employmentDetails, .educationDetails, .contactDetails, .resume{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.summary h2, .employmentDetails h2, .educationDetails h2, .contactDetails h2, .resume h2{
    color: var(--background);
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.summarytext{
    line-height: 23px;
}

.employmentDetails ul, .educationDetails ul{
    margin-left: 20px;
}

.employmentDetails ul li, .educationDetails ul li{
    margin-bottom: 20px;
}

.employmentDetails h3, .educationDetails h3{
    color: var(--background);
    margin-bottom: 5px;
    font-size: 18px;
}

.employmentDetails h4, .educationDetails h4{
    color: gray;
}

.educationDetails p{
    margin-top: 15px;
}

.contactDetails div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactDetails span{
    color: var(--background);
}

.resume p{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--background);
    width: fit-content;
    border-radius: 8px;
    background-color: #EEEDFF;
    color: var(--background);
}

.dates{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    font-size: 14px;
}

@media (max-width: 1024px) {
  .candidateDetails {
    flex-direction: column;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }
}


@media (max-width: 768px) {

    .headerContainer{
        padding: 40px 0;
    }

    .headerRight p, .headerRight  a {
        width: 100%;
        text-align: center;
    }

    .header{
        flex-direction: column;
    }

    .dates{
        flex-direction: column;
        gap: 10px;
    }
}