.toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 !important;
    gap: 15px;
}

.toolbarImage {
    display: flex;
    
}

.toolbarImage img{
    border-radius: 50%;
}

.toolbarName p{
    font-size: 14px;
    color: gray;
}

.icon{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1024px) {
    .toolbar{
        gap: 10px;
    }
}

