.container {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 30px;
}

.card {
	width: 100%;
	max-width: 800px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.name {
	font-weight: 600;
	color: #222;
	margin: 0;
}

.date {
	font-size: 14px;
	color: #777;
	margin-top: 4px;
}

.icons {
	display: flex;
	gap: 20px;
}

.iconBtn {
	background: none;
	border: none;
	font-size: 18px;
	cursor: pointer;
	color: #555;
	transition: color 0.3s;
    font-size: 25px;
}

.iconBtn:hover {
	color: #0073e6;
}

.uploadBox {
	border: 1.5px dashed #c7c7c7;
	border-radius: 10px;
	padding: 40px 20px;
	text-align: center;
}

.uploadBtn {
	display: inline-block;
	background: transparent;
	border: 1px solid #0073e6;
	color: #0073e6;
	padding: 8px 20px;
	border-radius: 25px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
}

.uploadBtn:hover {
	background: #f0f7ff;
}

.fileInput {
	display: none;
}

.formatText {
	font-size: 14px;
	color: #666;
	margin-top: 10px;
}
