.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homePageBanner{
    background: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.homePageBanner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4); 
    z-index: 1;
}

.homePageBanner > * {
    position: relative;
    z-index: 2; 
}

.homePageBannerContent{
    max-width: 1300px;
    width: 100%;
    color: white;
    padding: 20px;
}

.homePageBannerContent h1{
    font-size: 50px;
}

.homePageBannerContent p{
    font-size: 18px;
    margin: 15px 0 40px 0;
}

.searchBox{
  display: flex;
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.searchBox input{
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

.searchBox button{
  padding: 15px 30px;
  background: var(--background);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color .3s ease;
  border-radius: 10px;
}

.searchBox button:hover{
  background: #4342c0;
}


.postJobBtn{
    border-radius: 10px;
    padding: 10px 25px;
    border: 1px solid white;
    transition: background-color 0.4s ease, color 0.4s ease;
    color: white;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.postJobBtn:hover{
  background-color: white;
  color: var(--background);
}